.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.egg-info/
build/
dist/

data/brats/archive/
data/brats/brats_train.csv
data/brats/brats_val.csv
runs/
*.pt
*.ckpt
BraTS20 Training Metadata.csv
